# Data Analysis Using Python

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#Task1
#Loading the data
def read_data_from_csv():
    #df =read the 'iot_telemetry_data.csv' file
    df = pd.read_csv("iot_telemetry_data.csv")
    return df


#Task 2: Renaming the Columns
def rename_columns():
    # do not edit the predefined function name
    df=read_data_from_csv()
    #rename the columns according to the description
    df.rename(columns={'ts': 'timestamp', 'device': 'device_id', 'co': 'carbon_monoxide', 'lpg': 'liquefied_petroleum_gas', 'temp': 'temperature'}, inplace=True)
    #write your code here
    return df

#Task 3: check for null values
def null_values_check():
    # do not edit the predefined function name
    df=rename_columns()
    null_values = df.isnull().sum()
    #write your code here to check for the null values in the dataset
    return null_values


#Task4 :Removing Duplicates

def remove_duplicates():
    # do not edit the predefined function name
    df=rename_columns()
    
    df.drop_duplicates(inplace=True)
    #write your code here to drop the duplicates in the dataset and return the dataframe 'df' without the duplicates
    return df


#Task 5:Handling Missing Values:
def handle_missing_values():
    # do not edit the predefined function name
    df=remove_duplicates()
    
    df.dropna(inplace=True)
    #write your code here to drop the missing values in the dataset which returns the dataframe 'df' without missing values
    return df

#Task 6:Data Type Conversion:

def convert_data_types():
    # do not edit the predefined function name
    df= handle_missing_values()
    #write your code to change the datatype of each column to respective datatype mentioned in the task
    #description and  return the dataframe'df' which contains updated columns datatypes.
    df['timestamp'] = pd.to_datetime(df['timestamp'])

    # Convert "humidity", "light", "motion", and "temperature" columns to appropriate types
    df['humidity'] = df['humidity'].astype(float)
    df['light'] = df['light'].astype(bool)
    df['motion'] = df['motion'].astype(bool)
    df['smoke'] = df['smoke'].astype(bool)
    df['temperature'] = df['temperature'].astype(float)
    return df

#Task 7: Export the cleaned dataset to "cleaned_environemnt.csv"
def export_the_dataset():
    # do not edit the predefined function name
    df=convert_data_types()
    
    df.to_csv("cleaned_environment.csv", index=False)

    # Return the DataFrame
    return df
    
    
    #write your code to export the cleaned dataset and set the index=false and return the same as 'df'



#TASK 8: Load the Cleaned dataset 'cleaned_environment.csv' to the database provided.
#follow the instruction in the Task 8 description and complete the task as per it.

#check if mysql table is created using "cleaned_environment"
#Use this final dataset and upload it on the provided database for performing analysis in  MySQL
#To run this task click on the terminal and click on the run project

# SQL

**The task is to calculate the average temperature recorded for each device in the dataset**

SELECT device_id, AVG(temperature) AS avg_temperature 
from cleaned_environment 
GROUP BY device_id

***Your Output: 
    Total Records Fetched: 3
    First 10 records of your query
    Headers: 
    device_id, avg_temperature, 
    
    Values:
    b8:27:eb:bf:9d:51, 21.90250558101217, 
    00:0f:00:70:91:0a, 19.1555931817043, 
    1c:bf:ce:15:ec:4d, 25.74819386883109,

**This task involves identifying the devices with the highest average carbon monoxide levels and retrieving the top 5 devices based on this metric**

SELECT device_id, AVG(carbon_monoxide) AS avg_co
FROM cleaned_environment 
GROUP BY device_id
ORDER BY avg_co DESC
LIMIT 5;

***Your Output: 
    Total Records Fetched: 3
    First 10 records of your query
    Headers: 
    device_id, avg_co, 
    
    Values:
    b8:27:eb:bf:9d:51, 0.005104081998090613, 
    00:0f:00:70:91:0a, 0.004610827160288444, 
    1c:bf:ce:15:ec:4d, 0.004272419599193546,

**The objective is to Determine the average temperature recorded in the cleaned_environment dataset.**

SELECT AVG(temperature) as avg_temp
FROM cleaned_environment

# ***Your Output: 
    Total Records Fetched: 1
    First 10 records of your query
    Headers: 
    avg_temp, 
    
    Values:
    22.432296053374028

**Find the timestamp and temperature of the highest recorded temperature for each device.
This task requires identifying the highest recorded temperature for each device and retrieving the corresponding timestamp and temperature values**

WITH max_temps AS (
    SELECT device_id, timestamp, temperature,
           ROW_NUMBER() OVER (PARTITION BY device_id ORDER BY temperature DESC) AS row_num
    FROM cleaned_environment
)
SELECT device_id, timestamp, temperature
FROM max_temps
WHERE row_num = 1;

 ***Your Output: 
    Total Records Fetched: 3
    First 10 records of your query
    Headers: 
    device_id, timestamp, temperature, 
    
    Values:
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.89999962, 
    1c:bf:ce:15:ec:4d, 1970-01-01 00:00:01.590, 28.60000038, 
    b8:27:eb:bf:9d:51, 1970-01-01 00:00:01.590, 23.1,

**The goal is to Identify devices where the temperature has increased from the minimum recorded temperature to the maximum recorded temperature**

In [ ]:
SELECT device_id
FROM cleaned_environment
GROUP BY device_id
HAVING MIN(temperature) < MAX(temperature);

**Calculate the exponential moving average (EMA) of the temperature for each device. Retrieve the device ID, timestamp, temperature, and the EMA temperature for the first 10 devices from the 'cleaned_environment' table. The EMA temperature is calculated by partitioning the data based on the device ID, ordering it by the timestamp, and considering all preceding rows up to the current row**

SELECT device_id,
timestamp,
temperature,
AVG(temperature) OVER (PARTITION BY device_id ORDER BY timestamp
ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS 'ema'
FROM `cleaned_environment`
LIMIT 10;

 ***Your Output: 
    Total Records Fetched: 10
    First 10 records of your query
    Headers: 
    device_id, timestamp, temperature, ema, 
    
    Values:
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.20000076, 19.20000076, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.0, 19.10000038, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.20000076, 19.133333840000002, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.20000076, 19.150000570000003, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.70000076, 19.260000608000002, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.0, 19.216667173333335, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.10000038, 19.20000048857143, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.20000076, 19.2000005225, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.0, 19.177778242222224, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 18.89999962, 19.15000038,

**The objective is to identify the devices that have recorded the highest average temperature among all the devices in the dataset.**

SELECT device_id, AVG(temperature) AS average_temperature
FROM cleaned_environment
GROUP BY device_id
ORDER BY average_temperature DESC
LIMIT 3;

***Your Output: 
    Total Records Fetched: 3
    First 10 records of your query
    Headers: 
    device_id, average_temperature, 
    
    Values:
    1c:bf:ce:15:ec:4d, 25.74819386883109, 
    b8:27:eb:bf:9d:51, 21.90250558101217, 
    00:0f:00:70:91:0a, 19.1555931817043,

**The goal is to calculate the average temperature for each hour of the day, considering data from all devices**

SELECT HOUR(timestamp) AS hour_of_day, AVG(temperature) AS average_temperature
FROM cleaned_environment
GROUP BY HOUR(timestamp)
ORDER BY hour_of_day;

 ***Your Output: 
    Total Records Fetched: 1
    First 10 records of your query
    Headers: 
    hour_of_day, average_temperature, 
    
    Values:
    0, 22.432296053374028,

**The objective is to identify device(s) in the cleaned environment dataset have recorded only a single distinct temperature value.**

# SELECT device_id
FROM (
    SELECT device_id, COUNT(DISTINCT temperature) AS distinct_temperature_count
    FROM cleaned_environment
    GROUP BY device_id
) AS subquery
WHERE distinct_temperature_count = 1;

***Your Output: 
    Total Records Fetched: 0
    First 10 records of your query

**The objective is to identify the devices that have recorded the highest humidity levels**

SELECT device_id, MAX(humidity) AS max_humidity
FROM cleaned_environment
GROUP BY device_id
LIMIT 3;

***Your Output: 
    Total Records Fetched: 3
    First 10 records of your query
    Headers: 
    device_id, max_humidity, 
    
    Values:
    b8:27:eb:bf:9d:51, 55.5, 
    00:0f:00:70:91:0a, 78.09999847, 
    1c:bf:ce:15:ec:4d, 79.30000305,

**This task requires calculating the average temperature for each device while excluding outliers, which are temperatures beyond 3 standard deviations from the mean**

SELECT device_id, AVG(temperature) AS average_temperature
FROM (
    SELECT device_id, temperature
    FROM cleaned_environment
    WHERE temperature BETWEEN (
            SELECT AVG(temperature) - (3 * STDDEV(temperature))
            FROM cleaned_environment
        ) AND (
            SELECT AVG(temperature) + (3 * STDDEV(temperature))
            FROM cleaned_environment
        )
) AS filtered_data
GROUP BY device_id;

 ***Your Output: 
    Total Records Fetched: 3
    First 10 records of your query
    Headers: 
    device_id, average_temperature, 
    
    Values:
    b8:27:eb:bf:9d:51, 21.90250558101217, 
    00:0f:00:70:91:0a, 19.236722003048314, 
    1c:bf:ce:15:ec:4d, 25.783753716559865,

**The goal is to identify devices that have undergone a sudden change in humidity, where the difference is greater than 50%, within a 30-minute time window.**

SELECT table1.device_id, table1.timestamp, table1.humidity
FROM
(SELECT device_id, timestamp,
humidity,
LAG(humidity,1) OVER (
PARTITION BY device_id
ORDER BY timestamp),
(humidity - (LAG(humidity,1) OVER (
PARTITION BY device_id
ORDER BY timestamp))) diff,
ABS((humidity - (LAG(humidity,1) OVER (
PARTITION BY device_id
ORDER BY timestamp)))*100) c1
FROM `cleaned_environment`) table1
WHERE table1.c1 > 50;

**This task involves calculating the average temperature for each device separately for weekdays and weekends**

SELECT device_id, 
       CASE 
           WHEN DAYOFWEEK(timestamp) IN (1, 7) THEN 'Weekend'
           ELSE 'Weekday'
       END AS day_type,
       AVG(temperature) AS avg_temperature
FROM cleaned_environment
GROUP BY device_id, day_type;

***Your Output: 
    Total Records Fetched: 3
    First 10 records of your query
    Headers: 
    device_id, day_type, avg_temperature, 
    
    Values:
    b8:27:eb:bf:9d:51, Weekday, 21.90250558101217, 
    00:0f:00:70:91:0a, Weekday, 19.1555931817043, 
    1c:bf:ce:15:ec:4d, Weekday, 25.74819386883109,

**The objective is to calculate the cumulative sum of temperature for each device, considering the records ordered by timestamp limit to 10**

SELECT device_id, timestamp, temperature,
       SUM(temperature) OVER (PARTITION BY device_id ORDER BY timestamp) AS cumulative_temperature
FROM cleaned_environment
LIMIT 10;

***Your Output: 
    Total Records Fetched: 10
    First 10 records of your query
    Headers: 
    device_id, timestamp, temperature, cumulative_temperature, 
    
    Values:
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.20000076, 130143.10007649903, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.0, 130143.10007649903, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.20000076, 130143.10007649903, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.20000076, 130143.10007649903, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.70000076, 130143.10007649903, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.0, 130143.10007649903, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.10000038, 130143.10007649903, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.20000076, 130143.10007649903, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 19.0, 130143.10007649903, 
    00:0f:00:70:91:0a, 1970-01-01 00:00:01.590, 18.89999962, 130143.10007649903,